<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
      <title>{% block title %}{% endblock %} - Prodigy Archer</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  </head>

  <body>
  {% set navigation_bar = [
      ("index", "Home"),
      ("programming", "Programming"),
      ("japanese", "Japanese"),
      ("archery", "Archery"),
      ("test", "Other")
  ] %}
  {% set active_page = active_page %}
    <div id="content_container">
      <header>
	<h1>Prodigy Archer</h1>
      </header>
      <div id="header_bottom"></div>
      <nav>
	<ul id="navigation">
	  {% for id, label in navigation_bar %}
	  <li> 
	    <a {% if active_page == id %} class="active_page" {% endif %} href="{{ url_for(id) }}">
		{{ label }}
	    </a>
	  </li>
	  {% endfor %}
	</ul>
      </nav>
	
      {% block content %}{% endblock %} 
      <footer>

      </footer>
    </div>
  </body>
</html>
