<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
      <title>{% block title %}{% endblock %} - Prodigy Archer</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  </head>

  <body>
    <div id="content_container">
      <header>
	<h1>Prodigy Archer</h1>
      </header>
      <div id="header_bottom"></div>
      <nav>
	<ul id="navigation">
	  <li>
	    <a 
	      {% if request.endpoint == 'index' %} id="current_page" {% endif %} 
	      href="{{ url_for('index') }}">Home
	    </a>
	  </li>
	  <li>
	    <a
	      {% if request.endpoint == 'test' %} id="current_page" {% endif %} 
	      href="{{ url_for('test') }}">Programming
	    </a>
	  </li>
	  <li><a href="">Japanese</a></li>
	  <li><a href="">Other</a></li>
	  <li><a href="">Other</a></li>
	</ul>
      </nav>
	
      {% block content %}{% endblock %} 
      <footer>

      </footer>
    </div>
  </body>
</html>
