{% set active_page = "index" %}
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
      <div class="article_container">
	<article>
	  <h2>What's this about</h2>
	  <p>This is me trying to organise my life a little bit better while trying to learn and be productive at the same time.</p>
	  <p>I've found that I generally don't want to be doing anything in my spare time, let alone something productive. In the past, I usually end up watching TV, sleeping, watching Youtube, or anything else such that I didn't have to think or perform actions.</p>
	  <p>This really has to change.</p>
	  <p>I'm making this website so that I will continue to learn more about web development as well as try to renew my interest in learning and hopefully become a decent enough coder.</p>
		  
	  <p>Current things I will be working on:</p>
	  <ul>
	    <li>Learning HTML (5) (revising)</li>
	    <li>Coding using Python</li>
	    <li>Learning <a href="">Japanese</a></li>
	  </ul>
	</article>
      </div>
{% endblock %}
