{% set active_page = "programming" %}
{% extends "base.html" %}

{% block title %} Programming {% endblock %}

{% block content %}
      <div class="article_container">
	<article>
	  <h2>Programming</h2>
	  <p>
	    Most of my programming knowledge has come from my work during my Computer Science degree at UWA. 
	    My units and projects generally used C or Java and I had some exposure to Ruby (through one web design unit) 
	    and Python during my Professional Computing unit (I didn't really understand Python at all during that time). 
	    I do have a fascination with the newer and scripting based programming languages now.
	  </p>
	  <p>
	    I hadn't done enough practical work with coding during the last half of my degree and I am now 
	    putting a lot more effort into learning more programming languages and actively doing more projects 
	    and practical work. At the moment I am focusing on a few different courses on Udemy. These include:
	  </p>
	  <ul>
	    <li><a href="https://www.udemy.com/learn-html5-programming-from-scratch/">Learn HTML5 Programming From Scratch</a></li>
	    <li><a href="https://www.udemy.com/python-flask-course/">Become a Professional Backend Developer with Python Flask</a></li>
	    <li><a href="https://www.udemy.com/draft/323934/">Learn Complete Web Development from Practicals and Projects</a></li>
	  </ul>
	  <p>
	    I have already finished doing one <a href="https://www.udemy.com/essential-git/">Udemy course</a> which focused on the basics of GIT using the 
	    command line.
	  </p>
	</article>
      </div>
{% endblock %}
